<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control w-100" %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control w-100" %>
  </div>

  <div class="field form-group">
    <%= form.label :password %>
    <%= form.text_field :password, class: "form-control w-100" %>
  </div>

  <div class="field form-group">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, class: "form-control w-100" %>
  </div>

  <div class="field form-group">
    <%= form.label :admin %>
    <%= form.check_box :admin %>
  </div>

  <div class="actions">
    <% button_label = user.persisted? ? t('helpers.submit.update', model: "User") : t('helpers.submit.create', model: "User") %>
    <% button_id = user.persisted? ? "update-user" : "create-user" %>
    <%= form.submit button_label, id: button_id, class: "btn btn-primary" %>
  </div>
<% end %>
