<h1><%= t(".title") %></h1>

<p>
  <strong><%= t("activerecord.attributes.user.name") %></strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t("activerecord.attributes.user.email") %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t("activerecord.attributes.user.admin") %></strong>
  <%= t("enums.user.admin.#{@user.admin}") %>
</p>

<div id="tasks-table-area">
  <%= render partial: "tasks/index", locals: {tasks: @user.tasks.page(params[:page])} %>
</div>

<%= link_to t("helpers.back"), admin_users_path, id: "back" %>
