<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to t("defaults.navigations.users"), admin_users_path, id: "users-index" %></li>
            <li><%= link_to t("defaults.navigations.new_user"), new_admin_user_path, id: "add-user" %></li>
          <% else %>
            <li><%= link_to t("defaults.navigations.tasks"), tasks_path, id: "tasks-index" %></li>
            <li><%= link_to t("defaults.navigations.new_task"), new_task_path, id: "new-task" %></li>
            <li><%= link_to t("defaults.navigations.account_setting"), user_path(current_user.id), id: "account-setting" %></li>
            <li><%= link_to t("defaults.navigations.sign_out"), session_path(current_user.id), method: :delete, id: "sign-out" %></li>
          <% end %>
        <% else %>
          <li><%= link_to t("defaults.navigations.sign_up"), new_user_path, id: "sign-up" %></li>
          <li><%= link_to t("defaults.navigations.sign_in"), new_session_path, id: "sign-in" %></li>
        <% end %>
      </ul>
    </nav>
    
    <div>
      <% flash.each do |key, message| %>
        <%= content_tag :div, message, :id => key %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
